jaxb/src/main/resources/wsdl/TutorialService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoService" targetNamespace="http://www.kt.com/bit/oss/LBNR_GPNA_OSB0013" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.kt.com/bit/standard/header/v1" xmlns:WL5G3N2="http://www.kt.com/bit/oss/LBNR_GPNA_OSB0013" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.kt.com/bit/standard/header/v1" xmlns="http://www.kt.com/bit/standard/header/v1" xmlns:ksh="http://www.kt.com/bit/standard/header/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.kt.com/bit/oss/LBNR_GPNA_OSB0013" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="BITHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InterfaceID" type="xsd:string"/>
            <xsd:element name="SourceSys" type="xsd:string"/>
            <xsd:element name="TargetSys" type="xsd:string"/>
            <xsd:element name="GUID" type="xsd:string"/>
            <xsd:element name="SeqNumber" type="xsd:int"/>
            <xsd:element name="ReturnCode" type="xsd:string"/>
            <xsd:element name="ReturnMSG" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.kt.com/bit/oss/LBNR_GPNA_OSB0013" xmlns:ksh="http://www.kt.com/bit/standard/header/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.kt.com/bit/oss/LBNR_GPNA_OSB0013" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!-- Request Message Format-->
      <xsd:element name="aiBiznaruOrderInfoRequest" type="tns:aiBiznaruOrderInfoRequest">
			</xsd:element>
      <!-- Response Message Format -->
      <xsd:element name="aiBiznaruOrderInfoResult" type="tns:aiBiznaruOrderInfoResult">
			</xsd:element>
      <xsd:complexType name="aiBiznaruOrderInfoResult">
        <xsd:sequence>
          <xsd:element name="resCd" type="xsd:string"/>
          <xsd:element name="resCmt" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="aiBiznaruOrderInfoRequest">
        <xsd:sequence>
          <xsd:element name="systemTypeCd" type="xsd:string"/>
          <xsd:element name="systemKindCd" type="xsd:string"/>
          <xsd:element name="mainType" type="xsd:string"/>
          <xsd:element name="subType" type="xsd:string" /> 
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="PS_insertAiBiznaruOrderInfoRequest">
    <WL5G3N0:part element="WL5G3N1:BITHeader" name="standardHeader"/>
    <WL5G3N0:part element="WL5G3N2:aiBiznaruOrderInfoRequest" name="body"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PS_insertAiBiznaruOrderInfoResponse">
    <WL5G3N0:part element="WL5G3N1:BITHeader" name="standardHeader"/>
    <WL5G3N0:part element="WL5G3N2:aiBiznaruOrderInfoResult" name="body"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoPort">
    <WL5G3N0:operation name="insertAiBiznaruOrderInfo">
      <WL5G3N0:input message="WL5G3N2:PS_insertAiBiznaruOrderInfoRequest" name="input"/>
      <WL5G3N0:output message="WL5G3N2:PS_insertAiBiznaruOrderInfoResponse" name="output"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoBinding" type="WL5G3N2:PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoPort">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="insertAiBiznaruOrderInfo">
      <WL5G3N3:operation soapAction="http://www.kt.com/bit/oss/insertAiBiznaruOrderInfo"/>
      <WL5G3N0:input name="input">
        <WL5G3N3:header message="WL5G3N2:PS_insertAiBiznaruOrderInfoRequest" part="standardHeader" use="literal"/>
        <WL5G3N3:body parts="body" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="output">
        <WL5G3N3:header message="WL5G3N2:PS_insertAiBiznaruOrderInfoResponse" part="standardHeader" use="literal"/>
        <WL5G3N3:body parts="body" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoBindingQSService">
    <WL5G3N0:port binding="WL5G3N2:PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoBinding" name="PS_AIBIZNURUPNAServiceInsertAiBiznaruOrderInfoBindingQSPort">
      <WL5G3N3:address location="http://osbap01:80/GPNA/AIBIZNURUPNAServiceInsertAiBiznaruOrderInfo"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>